extends base

block content
    section.container
        h1.large.text-primary
            | Posts
        p.lead
            i.fas.fa-user
            |  Welcome to the community!
        .post-form
            .bg-primary.p
                h3 Say Something...
            form.form.my-1
                textarea#postText(name='text' cols='30' rows='5' placeholder='Create a post')
                button#post.btn.btn-dark.my-1 Submit
        .posts
            each post in posts
                .post.bg-white.p-1.my-1
                    div
                        a(href=`/profiles`)
                            img.round-img(src=`${post.avatar}` alt='')
                            h4= `${post.name}`
                    div
                        p.my-1
                            | #{post.text}
                        p.post-date
                            - const date = post.date.split("T")[0]
                            | Posted on #{date}
                        button#giveLike.btn.btn-light(type='button' data-postid=`${post._id}`)
                            - const liked = post.like.filter((el) => { return el.user === user.id })
                            - if(liked.length > 0)
                                i#likeIcon.fas.fa-thumbs-up(style="color:blue;")
                            -else
                                i#likeIcon.fas.fa-thumbs-up
                            span#likeCount #{post.like.length}
                        button#removeLike.btn.btn-light(type='button' data-postid=`${post._id}`)
                            i.fas.fa-thumbs-down
                        a.btn.btn-primary(href=`/post/${post._id}`)
                            | Discussion 
                            span.comment-count #{post.comments.length}
                        - if(post.user === user.id)
                            button#removePost.btn.btn-danger(type='button' data-postid=`${post._id}`)
                                i.fas.fa-times

