extends base

block content

    section.container
        h1.large.text-primary Developers
        p.lead
            i.fab.fa-connectdevelop
            |  Browse and connect with developers

        .profiles
        each developer in developers
                .profile.bg-light
                    img.round-img(src= `${developer.user.avatar}` alt='')
                    div
                        h2= `${developer.user.name}`
                        p= `${developer.status} ${developer.company ? 'at '+developer.company : ''}`
                        p= `${developer.location}`
                        a.btn.btn-primary(href=`/profile/${developer.user._id}`) View Profile
                        //- - console.log(developer.user._id)
                    ul
                        each skill in developer.skills
                            li.text-primary
                                i.fas.fa-check
                                |  #{skill}
